body {
    font-family: Arial, sans-serif;
}

.container {
    margin-top: 20px;
}
#imagenVideo{
    background-image: url("play.png");
}
section{
    margin-top: 5%;
    margin-bottom: 5%;
}
#elegir{
    border: 1px solid white;
}
#cartaPrecio{
    background-color: #A76BF2;
}
#feed{
    margin-right: 10px;
}
